/* 

Use this file to add any self-hosted fonts rather than relying on Google Fonts

See https://gwfh.mranftl.com/fonts

*/

/* anton-regular - latin */
/* @font-face {
  font-display: block;
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('./static/fonts/anton-v25-latin-regular.woff2') format('woff2');
} */
