:root {
  --backgroundColour: #20180e;
  --foregroundColour: #382a1c;
  --highlightColour: #ac7d20;
  --fontColourMain: #e4e2e1;
  --fontColourSecondary: #b19a81;
  --success: #44632c;
  --failure: #772e1a;
  --neutral: #574c41;
  --headerHeight: 64px;
  --pagePadding: 32px;
  --pageMaxWidth: 1200px;
  /* width + 2 * (x + padding) = 100vw */
  --calculatedPadding: max(
    calc(50vw - var(--pageMaxWidth) / 2),
    var(--pagePadding)
  );
  --fontSizeTitle: 58px;
  --fontSizeSubTitle: 32px;
  --fontSizeText: 24px;
}

.Header {
  height: var(--headerHeight);
  background-color: var(--headerColour);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  font-size: 1.33rem;

  .Header_container {
    width: 100%;
    padding: 0 var(--calculatedPadding);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Header_logo {
    font-weight: bold;
  }

  .Header_links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-size: 0.75em;

    a {
      text-decoration: inherit;
      color: inherit;
    }
  }

  .Header_menuButton {
    display: none;
    background-color: transparent;
    border: none;
    color: inherit;
  }
}

@media (max-width: 820px) {
  .Header {
    .Header_menuButton {
      display: unset;
    }

    .Header_links {
      position: absolute;
      left: 100vw;
      top: var(--headerHeight);
      flex-direction: column;
      background-color: var(--headerPopoverColour);
      width: 100vw;
      height: calc(100vh - var(--headerHeight));
      justify-content: flex-start;
      gap: 10px;
      font-size: 0.75em;

      transition: left 0.5s ease;

      li {
        width: 100%;
      }

      a {
        display: block;
        padding: 24px 0;
        text-align: center;
      }
    }

    .Header_links-show {
      left: 0;
    }
  }
}
