.Card {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--sp-200);
  /* Needed to make the link cover the whole card */
  position: relative;

  & a {
    text-decoration: inherit;
    color: inherit;
  }

  /* Make the link cover the whole card */
  & a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  & > * {
    flex: 1;
  }

  & .Card__content {
    display: flex;
    flex-direction: column;
    gap: var(--sp-200);

    & .Card__title {
      flex-grow: 1;
    }

    & .Card__info {
      font-size: var(--fs-100);
      display: inline-flex;
      gap: var(--sp-200);

      & .Card__author {
        color: var(--secondary-500);
      }

      & .Card__date {
        color: var(--grey-600);
      }
    }
  }
}

@media (max-width: 800px) {
  .Card {
    flex-direction: row-reverse;
  }
}
