hd-toast {
  flex: 0 0 auto;
  margin-bottom: 10px;
  background-color: var(--foregroundColour);
  color: var(--fontColourMain);
  border: 2px solid var(--neutral);
  border-radius: 4px;
  padding: 20px;
  font-size: 1.5rem;
  max-width: min(450px, 60vw);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  pointer-events: all;

  &.Toast--failure {
    border-color: var(--failure);
  }

  &.Toast--success {
    border-color: var(--success);
  }
}
